<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.ssu.ssutect.message.repository.MessageRepository">

    <select id="getAllMessage" resultType="String">
        SELECT m.content FROM message as m
    </select>

    <select id="findByContent" resultType="com.ssu.ssutect.message.Message">
        SELECT * FROM message WHERE content = #{content}
    </select>

    <update id="updateMessage">
        UPDATE message set content=#{content}, count=#{count}, report=#{report} WHERE id=#{id}
    </update>

    <insert id="saveMessage" parameterType="com.ssu.ssutect.message.vo.MessageVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message VALUES(,#{content},#{count},#{report})
    </insert>

</mapper>
